<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <title th:text="'Error ' + ${statusCode}">default Error</title>
</head>

<body>
<div layout:fragment="content">
    <div class="col-md-12 text-center">
        <h1 th:text="${statusCode}">default</h1>
        <h2 th:text="${message}">Page Not Found</h2>
        <p>
            Sorry, the page you are looking for does snot exist.
        </p>
    </div>
</div>
</body>
</html>