<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <title>Anime List</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3">
        <!-- SeasonとYearをループ外に移動 -->
        <h2>Season: <span th:text="${list?.get(0)?.animeSeason?.season != 'UNDEFINED' ? list?.get(0)?.animeSeason?.season : 'N/A'}">Season</span></h2>
        <h2>Year: <span th:text="${list?.get(0)?.animeSeason != null && list?.get(0)?.animeSeason.year != null ? list?.get(0)?.animeSeason.year : 'N/A'}">N/A</span></h2>
    <div class="row row-cols-1 row-cols-md-6 g-4">
        <div th:each="anime : ${list}" class="col">
            <div class="card h-100">
            <a th:if="${anime.sources != null and anime.sources.size() > 0}" target="_blank" th:href="@{'/home/animeList/comments/' + ${anime.id}}">
                <img class="card-img-top" th:src="${anime.picture}"  th:alt="${anime.title}">
            </a>
            <div class="card-body">
                <h5 class="card-title" th:text="${anime.title}">Anime Title</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Episodes: <span th:text="${anime.episodes != null ? anime.episodes : 'N/A'}"></span></li>
                    <li class="list-group-item">Status: <span th:text="${anime.status}">Finished</span></li> 
                   <!-- <li class="list-group-item">Season: <span th:text="${anime.animeSeason?.season != 'UNDEFINED' ? anime.animeSeason?.season : 'N/A'}">Season</span></li> -->
                   <!-- <li class="list-group-item">Year: <span th:text="${anime.animeSeason != null && anime.animeSeason.year != null ? anime.animeSeason.year : 'N/A'}">N/A</span></li> -->
                </ul>

                <!-- <ul class="list-group list-group-flush"> --> 
                <!--
                         <i class="fa-solid fa-tags"></i>Tag:
                     <a th:each="tag, stat : ${anime.tags}"
                         th:href="@{'/home/animeList/tags/' + ${#strings.replace(tag, ' ', '')}}"
                         th:text="${tag + (stat.last ? '' : ', ')}">
                         Tag
                     </a>
                     </span>
                        <span th:unless="${anime.tags != null or anime.tags.size() > 0}">
                             Tags: No tags available
                        </span>
                    </li>

-->
<!--                    <li class="list-group-item" th:if="${anime.tags != null and anime.tags.size() > 0}">-->
<!--                        Tags:-->
<!--                        <span th:each="tag, stat : ${anime.tags}" th:text="${tag}">-->
<!--       　　　　　　　　　　　　　　<span th:if="${stat.last}">, </span>-->
<!--    　　　　　　　　　　　　</span>-->
<!--                    </li>-->

                    <!--
                    <li class="list-group-item" th:if="${anime.synonyms != null and anime.synonyms.size() > 0}">Synonyms:
                        <span th:each="synonym : ${anime.synonyms}" th:text="${synonym}" th:remove="tag">Synonym, </span>
                    </li>
                    -->
                    <!--</ul> --> 
                <!-- the button for the comments -->
                <!--<div class="btn-toolbar gap-2" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary">
                        <a th:href="@{'/home/animeList/comments/' + ${anime.id}}" class="card-link">Comments</a>
                    </button>
                    </div> -->
                <!-- the buttotn for the offcial source
                    <div class="btn-group" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary" th:if="${anime.sources != null and anime.sources.size() > 0}">
                        <a th:href="${anime.sources[0]}" class="card-link">Official Source</a>
                    </button>
                   </div>

                -->
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>
