<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
  <body>
  <div layout:fragment="content">
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3">
     <h1>hello animeList</h1> 
    <div th:each="u : ${list}" class="col">
        <a target="_blank" th:href="${u.trailerLink}">
            <img th:src="${u.poster}" class="card-img-top" th:alt="${u.title}">
        </a>
        <div class="card-body">
            <h4 class="card-title" th:text="${u.title}">anime title</h4>
            <p class="card-text">
                Release Date: <span th:text="${u.releaseDate}">2009-12-15</span>
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Genres:
                    <span th:each="genre : ${u.genres}" th:text="${genre}" th:remove="tag">Fantasy, </span>
                </li>
                <li class="list-group-item">Review Count: <span th:text="${u.reviewIds.size()}">0</span></li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-primary">
                    <a th:href="@{/comments}" class="card-link">コメント一覧</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a th:href="${u.trailerLink}" class="card-link">公式トレーラー</a>
                </button>
            </div>
        </div>
    </div>
     </div>
  </div>
  </body>
</html>
