<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <title>Anime List</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3">
        <div th:each="anime : ${list}" class="col">
            <div class="card">
            <a th:if="${anime.sources != null and anime.sources.size() > 0}" target="_blank" th:href="${anime.sources[0]}">
                <img class="card-img-top" th:src="${anime.picture}"  th:alt="${anime.title}" style="width:450px; height:450px;">
            </a>
            <div class="card-body">
                <h4 class="card-title" th:text="${anime.title}">Anime Title</h4>
                <p class="card-text">
                    Episodes: <span th:text="${anime.episodes != null ? anime.episodes : 'N/A'}"></span> |
                    Status: <span th:text="${anime.status}">Finished</span> |
                    Season: <span th:text="${anime.animeSeason?.season != 'UNDEFINED' ? anime.animeSeason?.season : 'N/A'}">Season</span> |
                    Year: <span th:text="${anime.animeSeason != null && anime.animeSeason.year != null ? anime.animeSeason.year : 'N/A'}">N/A</span>
                </p>
                </p>

                <ul class="list-group list-group-flush">
<!--                    <li class="list-group-item" th:if="${anime.tags != null and anime.tags.size() > 0}">-->
<!--                        Tags: <span th:text="${anime.tags != null ? #strings.join(anime.tags, ', ') : ''}">Tag List</span>-->
<!--                    </li>-->
                    <li class="list-group-item">
                <span th:if="${anime.tags != null and anime.tags.size() > 0}">
                         <i class="fa-solid fa-tags"></i>Tag:
                     <a th:each="tag, stat : ${anime.tags}"
                         th:href="@{'/home/animeList/tags/' + ${#strings.replace(tag, ' ', '')}}"
                         th:text="${tag + (stat.last ? '' : ', ')}">
                         Tag
                     </a>
                     </span>
                        <span th:unless="${anime.tags != null or anime.tags.size() > 0}">
                             Tags: No tags available
                        </span>
                    </li>
<!--                    <li class="list-group-item" th:if="${anime.tags != null and anime.tags.size() > 0}">-->
<!--                        Tags:-->
<!--                        <span th:each="tag, stat : ${anime.tags}" th:text="${tag}">-->
<!--       　　　　　　　　　　　　　　<span th:if="${stat.last}">, </span>-->
<!--    　　　　　　　　　　　　</span>-->
<!--                    </li>-->

                    <!--
                    <li class="list-group-item" th:if="${anime.synonyms != null and anime.synonyms.size() > 0}">Synonyms:
                        <span th:each="synonym : ${anime.synonyms}" th:text="${synonym}" th:remove="tag">Synonym, </span>
                    </li>
                    -->
                </ul>

                <div class="card-body">
                    <button type="button" class="btn btn-primary">
                        <a th:href="@{'/home/animeList/comments/' + ${anime.id}}" class="card-link">Comments</a>
                    </button>
                    <button type="button" class="btn btn-primary" th:if="${anime.sources != null and anime.sources.size() > 0}">
                        <a th:href="${anime.sources[0]}" class="card-link">Official Source</a>
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
