
<!DOCTYPE html>
<html lang="en"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{layout/main}">
  <body>
     <div layout:fragment="content"> 
          <!-- Add content here -->
           <h1>we love anime...</h1>
           <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) -->
           <div class="card" style="width: 18rem;">
             <img src="..." class="card-img-top" alt="...">
               <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                             <a href="#" class="btn btn-primary">Go somewhere</a>
                               </div>
         </div>
         <div class="card" style="width: 18rem;">
             <ul class="list-group list-group-flush">
                   <li class="list-group-item">An item</li>
                       <li class="list-group-item">A second item</li>
                           <li class="list-group-item">A third item</li>
                             </ul>
         </div>
         <div class="card" style="width: 18rem;">
             <img src="..." class="card-img-top" alt="...">
               <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                           </div>
                             <ul class="list-group list-group-flush">
                                   <li class="list-group-item">An item</li>
                                       <li class="list-group-item">A second item</li>
                                           <li class="list-group-item">A third item</li>
                                             </ul>
                                               <div class="card-body">
                                                     <a href="#" class="card-link">Card link</a>
                                                         <a href="#" class="card-link">Another link</a>
                                                           </div>
         </div>
         <div class="container">
             <div class="row">
                   <div class="col">
                           Column
                               </div>
                                   <div class="col">
                                           Column
                                               </div>
                                                   <div class="col">
                                                           Column
                                                               </div>
                                                                 </div>
         </div>
    </div>
     <th:block layout:fragment="script-content"> 
          <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) -->
     </th:block>  
  </body>
</html>
